body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
}
.left-image-container {
  background-image: url(books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
}
.transparent-logo {
  position: relative;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 15%;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.7rem;
  text-align: center;
}
.icon {
    height: 3rem;    
}
.photo-credit {
  color: white;
  text-align: center;
  position: relative;
  top: 80%;
}
.icon-credit {
color: white;
  text-align: center;
  position: relative;
  top: 80%;
}
a {
  text-decoration: underline;
  color: white;
}
.right-form-container {
  background-color: red;
  width: 65%;
}
.info {
  background-color: rgba(38, 52, 53, 255);
  height: 35%;
}
.form {
    height: 100%;    
}
input {
    height: 2rem;
    width: 20rem;
}
.form-container {
  background-color: rgba(125, 98, 71, 255);
  height: 30%;
  display: flex;
}

.button-container {
  background-color: rgba(38, 52, 53, 255);
  height: 35%;
}
