body {
  height: 100vh;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
}
.left-image-container {
  background-image: url(books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
  height: 100%;
}
.transparent-logo {
  position: relative;
  top: 15%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 20%;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5rem;
  text-align: center;
}
.icon {
    height: 3rem;    
}
.photo-credit {
  color: white;
  text-align: center;
  position: relative;
  top: 75%;
}
.icon-credit {
color: white;
  text-align: center;
  position: relative;
  top: 75%;
}
a {
  text-decoration: underline;
  color: white;
}
.right-form-container {
  background-color: red;
  width: 65%;
}
.info {
  display: flex;
  background-color: rgba(38, 52, 53, 255);
  height: 35%;
  font-family: 'Roboto', cursive;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
  color: white;
  font-size: 2rem;
}
.form {
    height: 100%;    
}
input {
    height: 2rem;
    width: 15rem;
    margin-right: 1rem;
    margin-left: .5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

input:focus{
  border: 5px solid lightblue;
}
label {
    margin-left: 1rem;
}
.form-container {
  background-color: rgba(125, 98, 71, 255);
  height: 30%;
  display: flex;   
  font-size: 1.2rem;
  font-family: 'Permanent Marker', cursive;
  color: rgba(38, 52, 53, 255);
}
.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-left: 8rem;  
  width: 50%;
}
.form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;  
  width: 50%;
}
#last-name{
  width: 14.5rem;
}
#email {
  width: 14.5rem;
}
#phone-number {
   
    width: 14.5rem;
}
.phone-label {
  width: 14.5rem;
}
    

#password {
  width: 14.5rem;
}
#confirm-password {
    width: 14.4rem;
}

.button-container {
  background-color: rgba(38, 52, 53, 255);
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    height: 4rem;
    width: 20rem;
    margin-right: 1rem;
    margin-left: .5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;   
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

button:hover {
  cursor: pointer;
}

